:root ::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: auto;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

h3 {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
}

section {
  padding-left: 14vw;
  padding-right: 14vw;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.hero {
  background-color: #1f2937;
  padding-bottom: 9rem;
}

header {
  background-color: #1f2937;
  padding-left: 14vw;
  padding-right: 14vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  height: 5rem;
}

.header-link {
  font-size: 18px;
  font-weight: normal;
  color: #e5e7eb;
  padding: 10px;
}

.header-link:hover {
  background-color: #27303d;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  margin-right: auto;
}

.hero-main {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-right: 5rem;
}

.sign-up {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: bold;
  background-color: #3882f6;
  border: none;
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.sign-up:hover {
  background-color: #357ae8;
}

.hero-img {
  width: 100%;
  aspect-ratio: 2.2/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #e5e7eb;
  background-color: #6d747d;
}

.info {
  text-align: center;
  padding-top: 0;
}

.info h2 {
  font-size: 36px;
  font-weight: bolder;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #1f2937;
}

.info-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-left: 7vw;
  padding-right: 7vw;
}

.info-card {
  width: 100%;
}

.info-img {
  border: 5px solid #3882f6;
  border-radius: 16px;
  aspect-ratio: 1/1;
}

.info-text {
  font-size: 18px;
  font-weight: normal;
  color: #1f2937;
  text-align: center;
  margin: auto;
  margin-top: 0.5rem;
  width: calc(100% - 10px);
}

.quote {
  background-color: #e5e7eb;
  padding-left: 24vw;
  padding-right: 24vw;
}

.quote p {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  line-height: 1.3em;
  color: #1f2937;
}

.quote h4 {
  text-align: end;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  color: #1f2937;
}

.call-container {
  background-color: #3882f6;
  border-radius: 6px;
  padding: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
  width: auto;
  height: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.call-container h4 {
  color: #f9faf8;
  font-size: 26px;
}

.call-container p {
  color: #e5e7eb;
  font-size: 18px;
}

.call-container .sign-up {
  border: 3px solid #e5e7eb;
  justify-self: center;
  align-self: flex-end;
}

footer {
  background-color: #1f2937;
  height: 7rem;
  text-align: center;
  color: #e5e7eb;
  font-size: 18px;
  line-height: 7rem;
}

footer span {
  margin: 6px;
}
